@media screen and (max-width: 59.375em) {
  .container {
    background-image: url(/images/bg-mobile.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .wrapper {
    font-size: 1.3rem;
    grid-row-gap: 2rem;
  }
  .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .usage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding-bottom: 6rem;
  }
  .usage__info {
    text-align: center;
  }
  .alert {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 20%;
    border-radius: 1rem;
  }
  .alert::after {
    width: 0;
    height: 0;
  }
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  -webkit-text-size-adjust: auto;
     -moz-text-size-adjust: auto;
      -ms-text-size-adjust: auto;
          text-size-adjust: auto;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [margin-start] minmax(2rem, 8vw) [center-start] minmax(min-content, 1fr) [center-end] minmax(2rem, 8vw) [margin-end];
      grid-template-columns: [margin-start] minmax(2rem, 8vw) [center-start] minmax(-webkit-min-content, 1fr) [center-end] minmax(2rem, 8vw) [margin-end];
      grid-template-columns: [margin-start] minmax(2rem, 8vw) [center-start] minmax(min-content, 1fr) [center-end] minmax(2rem, 8vw) [margin-end];
  font-family: 'Raleway', sans-serif;
  justify-items: center;
  padding: 50vh 0;
  background-color: #0c122c;
  background-image: url(/images/bg-desktop.png);
  background-size: 105% 53%;
  background-repeat: no-repeat;
  background-position: bottom;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 38rem) minmax(min-content, 53.9rem);
      grid-template-columns: minmax(-webkit-min-content, 38rem) minmax(-webkit-min-content, 53.9rem);
      grid-template-columns: minmax(min-content, 38rem) minmax(min-content, 53.9rem);
  grid-column-gap: 4rem;
  grid-column: center-start / center-end;
  font-size: 1.4rem;
}

.attribution {
  grid-column: center-start / center-end;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  margin-top: 5vh;
  font-size: 1.1rem;
  color: #dddbff;
}

.attribution a {
  -webkit-text-decoration-color: aqua;
          text-decoration-color: aqua;
}

.attribution a:visited {
  color: #fffda3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 4rem;
  border-radius: 1.2rem 10rem 1.2rem 1.2rem;
  background-color: #1d2c67;
}

.nav__logo {
  width: 14.7rem;
  margin-bottom: 3.3rem;
}

.nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__btn button:nth-child(2) {
  margin: 0 1.8rem;
}

.btn {
  width: 4.9rem;
  height: 4.9rem;
  outline: none;
  border: 0;
  border-radius: 1rem;
  background-color: #0c122c;
}

.usage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-flex-item-align: end;
      align-self: end;
  max-width: 53.9rem;
  border-radius: 1.2rem;
  padding: 3.5rem;
  color: #848794;
  background-color: #1d2c67;
}

.usage__info {
  font-size: 1em;
}

.usage__info > span {
  color: #dddbff;
  font-weight: 700;
}

.usage__quota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1em;
  font-weight: 700;
  color: #dddbff;
}

.usage__progressBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.8rem;
  margin: 1.5rem 0 .9rem 0;
  border-radius: 5rem;
  background-color: #0c122c;
}

.usage__progressBar > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 72%;
          flex: 0 1 72%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.3rem;
  margin-left: .4rem;
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(26%, #ffa399), to(#ff4d97));
  background: linear-gradient(90deg, #ffa399 26%, #ff4d97 100%);
}

.usage__progressBar > div div {
  height: 1rem;
  width: 1rem;
  margin-right: .2rem;
  border-radius: 50%;
  background-color: white;
}

.alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: end;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
  z-index: 1;
  max-width: 15rem;
  height: 5rem;
  margin-right: 8%;
  margin-top: 2%;
  padding: 1rem 2.5rem;
  border-radius: 1rem 1rem 0 1rem;
  font-weight: 700;
  background-color: white;
}

.alert::after {
  content: '';
  position: absolute;
  top: 90%;
  right: 0%;
  width: 4rem;
  height: 4rem;
  -webkit-clip-path: polygon(100% 0, 30% 0, 100% 70%);
          clip-path: polygon(100% 0, 30% 0, 100% 70%);
  background-color: white;
}

.alert p:first-of-type {
  margin-right: 1rem;
  font-size: 2.85em;
  color: #0c122c;
}

.alert p:last-of-type {
  font-size: 0.85em;
  margin-top: .5rem;
  color: #848794;
}

@media screen and (max-width: 59.375em) {
  .container {
    background-image: url(/images/bg-mobile.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
  }
  .wrapper {
    font-size: 1.3rem;
    grid-row-gap: 2rem;
  }
  .nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  .usage {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    padding-bottom: 6rem;
  }
  .usage__info {
    text-align: center;
  }
  .alert {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
    top: 20%;
    border-radius: 1rem;
  }
  .alert::after {
    width: 0;
    height: 0;
  }
}
/*# sourceMappingURL=main.css.map */