$color-primary-1: hsl(243, 100%, 93%);
$color-primary-2: hsl(229, 7%, 55%);
$color-primary-3: hsl(228, 56%, 26%);
$color-primary-4: hsl(229, 57%, 11%);

$color-gradient: linear-gradient(90deg, rgba(255,163,153,1) 26%, rgba(255,77,151,1) 100%);